<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Szczegóły todo</title>
</head>
<body>
    <h3> Zmień </h3>
    <form method="POST" action="/todos/{{ todo_id }}/">

        {{ form.hidden_tag() }}
        <table>
            {% for field in form if field.widget.input_type != 'hidden' %}
                <tr>
                    <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table>
      
        <a href="{{ url_for('todo_details', todo_id=todo_id) }}">Update</a>
    </form>

    <h3> Usuń </h3>
    <form method="POST" action="/todos/{{ todo_id }}/">

        {{ form.hidden_tag() }}
        <table>
            {% for field in form if field.widget.input_type != 'hidden' %}
                <tr>
                    <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table>
        <a href="{{ url_for('delete_todo', todo_id=todo_id) }}">Delete</a>
    </form>    
</body>
</html>

